.imageupload {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    position: sticky;
    bottom: 0;
    background-color: white;
    height: 8%;
}

.imageupload__progress{
    width: 100%;
}